<h1>Photo Details</h1>
<img width="720" src="<%= Photo.find(@id).source %>">
<p><%= Photo.find(@id).caption %></p>
<a href="/photos">Back</a> <a href="/photos/<%= @id %>/edit">Edit</a> <a href="/delete_photo/<%= @id %>">Delete</a>
